{%extends "base.html" %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>产品</th>
<!--            <th>供货价_含运费</th>-->
            <th>零售价_含运费</th>
<!--            <th>id</th>-->
        </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
        <tr>
            <td>{{product.产品}}</td>
<!--            <td>{{product.供货价_含运费}}</td>-->
            <td>{{product.零售价_含运费}}</td>
<!--            <td>{{product.id}}</td>-->
        </tr>
    {% endfor %}
    </tbody>
</table>

<button >-</button>
<span>1</span>
<button goodsid="{{ good.id }}" class="addShopping">+</button>

<button id="myClickButton" type="button">Click</button>
<div id="myOutput"></div>
{% endblock %}